.home{
    width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}
.logo{
    height: 80px;
    width: 80px;
    object-fit: cover;
}
.ophold{
    width: 500px;
    height: 1000px;
}

.ophold p{
    font-size: 20px;
    text-align: center;
    width: 450px;
}

.gitteOphold{
    border-radius: 500px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}